@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
:root {
    --accentBlue: #003fb8;
}
* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}
body {
    -webkit-font-smoothing: subpixel-antialiased !important;
    -webkit-text-stroke: 1px transparent;
}
.wrapperOverflow {
    overflow-x: hidden;
}
nav div a {
    padding: 0 15px;
}