@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@font-face {
    font-family: "Miratrix";
    src: url("fonts/Miratrix-Normal.otf");
}
:root {
    --accentPurple: #9400d3;
}
* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}
.body {
    -webkit-font-smoothing: subpixel-antialiased !important;
    -webkit-text-stroke: 1px transparent;
    height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}
::selection {
    color: white;
}
.wrapperOverflow {
    overflow-x: hidden;
}
.font2 {
   font-family: "Miratrix", sans-serif;
}
@media (max-width: 600px) {
    #text:has(.fancy) .word:not(.fancy) {
        opacity: 0.2;
    }
    .fancy span {
        display: inline-block;
        text-decoration: underline;
    }
    .fancy > .outer {
        transition: transform 350ms ease;
    }
    .fancy > .outer {
        transition-duration: 800ms;
    }
    .fancy > .outer > .inner {
        animation: float 5s ease infinite;
    }
    .fancy > .outer:nth-child(1) {
        transform: translate(-80%, 60%) rotate(8deg);
    }
    .fancy > .outer:nth-child(2) {
        transform: translate(-40%, 20%) rotate(4deg);
    }
    .fancy > .outer:nth-child(3) {
        transform: translate(-10%, 60%) rotate(-6deg);
    }
    .fancy > .outer:nth-child(4) {
        transform: translate(0%, 8%) rotate(-8deg);
    }
    .fancy > .outer:nth-child(5) {
        transform: translate(0%, -20%) rotate(5deg);
    }
}
@media (prefers-reduced-motion) {   /* For Users that don't want animations on */
    .hidden {
        transition: none;
    }
}
@keyframes float {
    from, to {
        transform: translateY(-0%);
    }

    50% {
        transform: translateY(-3%);
    }
}
@keyframes background-pan {
    from {
        background-position: 1000% center;
    }

    to {
        background-position: 0 center;
    }
}
@keyframes leftAnim {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0);
    }
}
.left {
    animation: leftAnim 3.1s ease-in-out infinite alternate-reverse;
}
@keyframes rightAnim {
    from {
        transform: translateX(18%);
    }
    to {
        transform: translateX(-35%);
    }
}
@keyframes rightAnim2 {
    from {
        transform: translateX(-9%);
    }
    to {
        transform: translateX(10%);
    }
}
@keyframes rightAnim3 {
    from {
        transform: translateX(-75%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes rightAnim4 {
    from, to {
        transform: translateX(63%);
    }
    50% {
        transform: translateX(-20%);
    }
    100% {
        transform: translateX(0);
    }
}
.right {
    animation: rightAnim 8s ease-in infinite alternate-reverse;
}
.right2 {
    animation: rightAnim2 3.4s cubic-bezier(.53,.16,.08,.78) infinite alternate-reverse;
}
.right3 {
    animation: rightAnim3 2.3s cubic-bezier(.95,.23,.28,.39) infinite alternate-reverse;
}
.right4 {
    animation: rightAnim4 4.23s cubic-bezier(.57,.21,.69,1.25) infinite alternate-reverse;
}
.line {
    display: flex;
    justify-content: space-between;
}
.word, span {
    color: black;
    font-size: clamp(2rem, 8vw, 10rem);
    font-family: "Miratrix", sans-serif;
    margin: 0;
    text-transform: uppercase;
    transition: opacity 250ms ease;
}
#text:has(.fancy:hover) .word:not(.fancy:hover) {
    opacity: 0.2;
}
.fancy span {
    display: inline-block;
    text-decoration: underline;
}
.fancy > .outer {
    transition: transform 350ms ease;
}
.fancy:hover > .outer {
    transition-duration: 800ms;
}
.fancy:hover > .outer > .inner {
    animation: float 5s ease infinite;
}
.fancy:hover > .outer:nth-child(1) {
    transform: translate(-80%, 60%) rotate(8deg);
}
.fancy:hover > .outer:nth-child(2) {
    transform: translate(-40%, 20%) rotate(4deg);
}
.fancy:hover > .outer:nth-child(3) {
    transform: translate(-10%, 60%) rotate(-6deg);
}
.fancy:hover > .outer:nth-child(4) {
    transform: translate(0%, 8%) rotate(-8deg);
}
.fancy:hover > .outer:nth-child(5) {
    transform: translate(0%, -20%) rotate(5deg);
}
.paused {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}
.running {
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
}